@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #e0d7d7; /* Spotify background color */
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.music-container {
  background-color: #e0d7d7; /* Spotify player background color */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 20px;
  position: relative;
  margin: 20px 0;
  z-index: 10;
  max-width: 400px; /* Adjust as needed */
  width: 100%;
}

.img-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music-info {
  flex-grow: 1;
  color: #fff; /* Text color */
}

.music-info h4 {
  font-weight: 600;
  margin: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: transparent;
  border: none;
  color: #fff; /* Button color */
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  transition: color 0.3s ease;
}

.action-btn.action-btn-big {
  color: #fff; /* Button color */
  font-size: 36px;
}

.action-btn:hover {
  color: #d1ce17; /* Spotify green color on hover */
}

.progress-container {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  margin: 20px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #d1ce17; /* Spotify green color */
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
